
@{
    ViewBag.Title = "招聘信息";
    Layout = "~/Views/Shared/HotelMain.cshtml";
}
@section lefttitle1{
    <div class="lefttitle">
        栏目导航
    </div>
}
@section leftcontent1{
    <div class="content1">
        <div class="conitem">
            <a href="#">公司介绍</a>
        </div>
        <div class="conitem">
            <a href="#">企业文化</a>
        </div>
        <div class="conitem">
            <a href="#">企业荣誉</a>
        </div>
        <div class="conitem">
            <a href="#">企业荣誉</a>
        </div>
        <div class="conitem">
            <a href="#">发展历程</a>
        </div>
    </div>
}
@section lefttitle2{
    <div class="lefttitle">
        联系方式
    </div>
}
@section leftcontent2{
    <div class="content2">
        <div style="padding-left: 33px; padding-right: 0px; font: 12px/18px simsun; color: #3f3b32;">
            地&nbsp; 址：杭州市莫山南路888号<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 汽车南站旁<br />
            电&nbsp; 话：0571-98888888<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0571-98999999<br />
            传&nbsp; 真：0571-98777777<br />
            邮&nbsp; 箱：boss@mail.com
        </div>
    </div>
}
@section righttitle{
    <div class="righttitle">
        您现在位置：中式餐馆酒店>招聘信息
    </div>
}

<link href="~/Styles/Recruitment.css" rel="stylesheet" />

    <div class="outdiv">
        <div class="titlediv">
            <div class="position">
                招聘职位
            </div>
            <div class="place">
                工作地点
            </div>
            <div class="needcount">
                招聘人数
            </div>
            <div class="detail">
                详情
            </div>
        </div>
        @if (ViewBag.RecruitmentList != null)
        {
            foreach (var recruitment in ViewBag.RecruitmentList)
            {
                <div class="itemdiv">
                    <div class="position">
                        <a href="/Company/RecruitmentDetail?PostId=@recruitment.PostId" target="_blank">@recruitment.PostName</a>
                    </div>
                    <div class="place">
                        @recruitment.PostPlace
                    </div>
                    <div class="needcount">
                        @recruitment.RequireCount
                    </div>
                    <div class="detail">
                        <a href="/Company/RecruitmentDetail?PostId=@recruitment.PostId" target="_blank">详情</a>
                    </div>
                </div>
            }
        }
    </div>
