<component name="ArtifactManager">
  <artifact type="war" name="springmvc_responseType:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springmvc_responseType.war">
      <element id="artifact" artifact-name="springmvc_responseType:war exploded" />
    </root>
  </artifact>
</component>