
@{
    ViewBag.Title = "餐厅环境";
    Layout = "~/Views/Shared/HotelMain.cshtml";
}
@section lefttitle1{
    <div class="lefttitle">
        菜品分类
    </div>
}
@section leftcontent1{
    <div class="content1">
        <div class="conitem">
            <a href="#">招牌菜品</a>
        </div>
        <div class="conitem">
            <a href="#">特色菜品</a>
        </div>
        <div class="conitem">
            <a href="#">最新菜品</a>
        </div>
    </div>
}
@section righttitle{
    <div class="righttitle">
        您现在所在的位置：中式餐厅酒店>餐厅环境
    </div>
}

<link href="~/Styles/Dishes.css" rel="stylesheet" type="text/css" />
<div class="cdiv">
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="/Before/EnvironmentDetail">酒店环境一</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="/Before/EnvironmentDetail">酒店环境二</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing03.jpg" />
        </div>
        <div class="dishname">
            <a href="#">酒店环境三</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing04.jpg" />
        </div>
        <div class="dishname">
            <a href="#">酒店环境四</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing05.jpg" />
        </div>
        <div class="dishname">
            <a href="#">酒店环境五</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing06.jpg" />
        </div>
        <div class="dishname">
            <a href="#">酒店环境六</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="#">酒店环境七</a>
        </div>
    </div>
    <div class="ditem">
        <div class="dimgdiv">
            <img src="~/Images/environment/huanjing02.jpg" />
        </div>
        <div class="dishname">
            <a href="#">酒店环境八</a>
        </div>
    </div>
</div>