<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis的主配置文件 -->
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"></setting>
    </settings>
    <typeAliases>
        <typeAlias type="com.easondongh.domain.User" alias="user"></typeAlias>
    </typeAliases>
    <!--配置环境，默认使用id=mysql的环境配置-->
    <environments default="mysql">
        <!--配置mysql环境-->
        <environment id="mysql">
            <!--配置事务类型-->
            <transactionManager type="JDBC"></transactionManager>
            <!--配置数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/dbtest" />
                <property name="username" value="root1" />
                <property name="password" value="root" />
            </dataSource>
        </environment>
    </environments>

    <!--指定映射配置文件的位置，映射配置文件值得是每个dao文件的配置文件-->
    <mappers>
        <mapper resource="UserMapper.xml" />
        <!--<mapper class="dao.UserDao"></mapper>-->
    </mappers>
</configuration>
