
@{
    ViewBag.Title = "公司介绍";
    Layout = "~/Views/Shared/HotelMain.cshtml";
}

@section lefttitle1{
    <div class="lefttitle">
        栏目导航
    </div>
}

@section leftcontent1{
    <div class="content1">
        <div class="conitem">
            <a href="#">公司介绍</a>
        </div>
        <div class="conitem">
            <a href="#">企业文化</a>
        </div>
        <div class="conitem">
            <a href="#">企业荣誉</a>
        </div>
        <div class="conitem">
            <a href="#">企业荣誉</a>
        </div>
        <div class="conitem">
            <a href="#">发展历程</a>
        </div>
    </div>
}

@section lefttitle2{
    <div class="lefttitle">
        联系方式
    </div>
}

@section leftcontent2{
    <div class="content2">
        <div style="padding-left: 33px; padding-right: 0px; font: 12px/18px simsun; color: #3f3b32;">
            地&nbsp; 址：杭州市莫山南路888号<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 汽车南站旁<br />
            电&nbsp; 话：0571-98888888<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0571-98999999<br />
            传&nbsp; 真：0571-98777777<br />
            邮&nbsp; 箱：boss@mail.com
        </div>
    </div>
}

@section righttitle{
    <div class="righttitle">
        您现在所在的位置:中式餐厅酒店>公司简介
    </div>
}

<div class="contentDiv">
    <div style="width: 655px; float: left; margin: 30px 0px 0px 40px; display: inline;
        color: #3F3B32;">
        <img style="float: left; margin: 0px 30px 0px 0px" alt="" src="~/Images/othermaster/company.jpg"
             border="0" /><span style="font-size: 12px; line-height: 180%; font-family: Verdana,Arial,Helvetica,sans-serif">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;杭州市某某餐饮连锁公司，融合现代快餐理念，开创了更符合国人膳食结构与饮食习惯的快速餐饮体系。以外卖+快速餐饮的新颖模式，引爆各地巨大市场，相继开发了活力早餐、拉面米线、馄饨水饺、商务简餐、营养套餐、儿童套餐、风味炸烤、美味小食、开胃小菜、甜品饮料等标准化正餐与配餐。在快餐市场拥有了强大的顾客群，成为消费者用餐的最佳选择之一，也成为大型超市及购物中心的最佳配套项目。在品质、服务、清洁、环境等方面与国际标准全面接轨，建立起中式快餐业原料采购、后勤生产、烹制设备、食品加工及餐厅员工操作的五大标准化体系，率先通过ISO9001国际质量管理体系认证，并积极引入全新的CIS系统和连锁管理系统。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 总部现有员工700余名，并成立了300余人的专业装潢队伍，拥有12000平米现代化办公场地和二十余亩的工业园区，建立了功能齐全的战略企划中心、人力资源中心、产品研发中心、营运中心、客服中心、技术培训中心、工程设备中心、工程装潢中心、采购中心、调味品生产中心、物流配送中心、售后服务中心、直营店管理中心等13个职能部门。能够与洋快餐相媲美的中国人自己的快速餐饮，目前连锁店已遍布全国各省市、自治区，迅速发展成为中国快速餐饮行业的领导品牌，也成为目前中国发展快的快速餐饮连锁企业。海纳百川，有容乃大，充分体现了品牌的核心价值，展示了内蕴深厚的中华传统文化特质与思想精髓，具有强烈的时代特征和中国特色；围绕中国源远流长的传统饮食文化，利用快餐连锁这种独特的商业模式，传播现代与传统和谐并存的中国新餐饮文化，也正是产品文化的独特魅力所在；将中华传统美食的精髓与现代工艺技术完美融合，开辟了以中国传统美食为特色的中国快速餐饮新标准。以大型餐饮企业集团为依托，以创新的快餐财富攻略迈入餐饮市场，凭借卓越的品质、良好的服务和优雅的环境，致力于为消费者提供更精致、更健康、更快捷、更符合现代化生活形态的快餐美食，中国快速餐饮事业锐意前行！
        </span>
    </div>
</div>

