
@{
    ViewBag.Title = "加盟连锁";
    Layout = "~/Views/Shared/HotelMain.cshtml";
}
@section lefttitle1{
<div class="lefttitle">
    栏目导航
</div>
}
@section leftcontent1{
<div class="content1">
    <div class="conitem">
        <a href="#">公司介绍</a>
    </div>
    <div class="conitem">
        <a href="#">企业文化</a>
    </div>
    <div class="conitem">
        <a href="#">企业荣誉</a>
    </div>
    <div class="conitem">
        <a href="#">企业荣誉</a>
    </div>
    <div class="conitem">
        <a href="#">发展历程</a>
    </div>
</div>
}
@section lefttitle2{
<div class="lefttitle">
    联系方式
</div>
}
@section leftcontent2{
<div class="content2">
    <div style="padding-left: 33px; padding-right: 0px; font: 12px/18px simsun; color: #3f3b32;">
        地&nbsp; 址：杭州市莫山南路888号<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 汽车南站旁<br />
        电&nbsp; 话：0571-98888888<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0571-98999999<br />
        传&nbsp; 真：0571-98777777<br />
        邮&nbsp; 箱：boss@mail.com
    </div>
</div>
}
@section righttitle{
<div class="righttitle">
    您现在所在的位置:中式餐厅酒店>加盟连锁
</div>
}

<div class="outdiv">
    <img src="~/Images/joinus/joinus.jpg" />
</div>